# Python Excel CSV handling

> Summary

- toc: true 
- badges: true
- comments: true
- author: Chanseok Kang
- categories: [python, fastcampus]
- image:

## CSV file

### Example 1

In [8]:
import csv

with open('./resource/sample1.csv', 'r', encoding='euc-kr') as f:
    reader = csv.reader(f)
    next(reader) # Header skip
    print(reader)
    print(type(reader))
    print(dir(reader))
    print()
    
    for c in reader:
        print(c)

<_csv.reader object at 0x7f80214b65d0>
<class '_csv.reader'>
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'dialect', 'line_num']

['1', '김정수', '2017-01-19 11:30:00', '25']
['2', '박민구', '2017-02-07 10:22:00', '35']
['3', '정순미', '2017-01-22 09:10:00', '33']
['4', '김정현', '2017-02-22 14:09:00', '45']
['5', '홍미진', '2017-04-01 18:00:00', '17']
['6', '김순철', '2017-05-14 22:33:07', '22']
['7', '이동철', '2017-03-01 23:44:45', '27']
['8', '박지숙', '2017-01-11 06:04:18', '30']
['9', '김은미', '2017-02-08 07:44:33', '51']
['10', '장혁철', '2017-12-01 13:01:11', '16']

### Example 2

In [10]:
import csv

with open('./resource/sample2.csv', 'r', encoding='euc-kr') as f:
    reader = csv.reader(f, delimiter='|')
    next(reader) # Header skip
    print(reader)
    print(type(reader))
    print(dir(reader))
    print()
    
    for c in reader:
        print(c)

<_csv.reader object at 0x7f80214b6e50>
<class '_csv.reader'>
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'dialect', 'line_num']

['1', '김정수', '2017-01-19 11:30:00', '25']
['2', '박민구', '2017-02-07 10:22:00', '35']
['3', '정순미', '2017-01-22 09:10:00', '33']
['4', '김정현', '2017-02-22 14:09:00', '45']
['5', '홍미진', '2017-04-01 18:00:00', '17']
['6', '김순철', '2017-05-14 22:33:07', '22']
['7', '이동철', '2017-03-01 23:44:45', '27']
['8', '박지숙', '2017-01-11 06:04:18', '30']
['9', '김은미', '2017-02-08 07:44:33', '51']
['10', '장혁철', '2017-12-01 13:01:11', '16']

### Example 3 (Dict Convert)

In [14]:
with open('./resource/sample1.csv', 'r', encoding='euc-kr') as f:
    reader = csv.DictReader(f)
    
    for c in reader:
        for k, v in c.items():
            print(k, v)
        print('---------------')

번호 1
이름 김정수
가입일시 2017-01-19 11:30:00
나이 25
---------------
번호 2
이름 박민구
가입일시 2017-02-07 10:22:00
나이 35
---------------
번호 3
이름 정순미
가입일시 2017-01-22 09:10:00
나이 33
---------------
번호 4
이름 김정현
가입일시 2017-02-22 14:09:00
나이 45
---------------
번호 5
이름 홍미진
가입일시 2017-04-01 18:00:00
나이 17
---------------
번호 6
이름 김순철
가입일시 2017-05-14 22:33:07
나이 22
---------------
번호 7
이름 이동철
가입일시 2017-03-01 23:44:45
나이 27
---------------
번호 8
이름 박지숙
가입일시 2017-01-11 06:04:18
나이 30
---------------
번호 9
이름 김은미
가입일시 2017-02-08 07:44:33
나이 51
---------------
번호 10
이름 장혁철
가입일시 2017-12-01 13:01:11
나이 16
---------------

### Example 4

In [15]:
w = [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18]]

In [18]:
with open('./resource/sample_test.csv', 'w', newline='') as f:
    wt = csv.writer(f)
    
    for v in w:
        wt.writerow(v)

In [19]:
!cat ./resource/sample_test.csv

1,2,3
4,5,6
7,8,9
10,11,12
13,14,15
16,17,18

### Example 5

In [20]:
with open('./resource/sample_test1.csv', 'w', newline='') as f:
    wt = csv.writer(f)
    wt.writerows(w)

In [21]:
!cat ./resource/sample_test1.csv

1,2,3
4,5,6
7,8,9
10,11,12
13,14,15
16,17,18

## Excel (XSL, XLSX)
- openpyxl
- xlsxwriter
- xlrd
- xlwt

In [22]:
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in /home/chanseok/anaconda3/lib/python3.7/site-packages (1.2.0)
Requirement already satisfied: openpyxl in /home/chanseok/anaconda3/lib/python3.7/site-packages (3.0.3)
Requirement already satisfied: et-xmlfile in /home/chanseok/anaconda3/lib/python3.7/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /home/chanseok/anaconda3/lib/python3.7/site-packages (from openpyxl) (1.4.1)

In [23]:
import pandas as pd

### Example 1
- `sheetname=`, `header=`, `skiprow=`

In [24]:
xlsx = pd.read_excel('./resource/sample.xlsx')
print(xlsx.head())

  Sap Co.      대리점 영업사원       전월       금월  TEAM  총 판매수량
0  KI1316  경기수원대리점  이기정  1720000  2952000     1     123
1  KI1451  충청홍성대리점  정미진  4080000  2706000     2     220
2  KI1534  경기화성대리점  경인선   600000  2214000     1     320
3  KI1636  강원속초대리점  이동권  3720000  2870000     3     110
4  KI1735  경기안양대리점  강준석  4800000  2296000     1     134

In [25]:
print(xlsx.tail())

   Sap Co.       대리점 영업사원       전월       금월  TEAM  총 판매수량
15  KI2870  경기구리시대리점  박진형  6000000  3400000     2     143
16  KI2910   강원춘천대리점  김은향  4800000  4896000     1     176
17  KI3030   강원영동대리점  전수창  4560000  3128000     2      98
18  KI3131   경기하남대리점  김민정  2750000  7268000     3     293
19  KI3252   강원포천대리점  서가은  2420000  4740000     4     240

In [26]:
print(xlsx.shape)

(20, 7)

### excel write

In [27]:
xlsx.to_excel('./resource/result.xlsx', index=False)
xlsx.to_csv('./resource/result.csv', index=False)

In [28]:
!cat ./resource/result.csv

Sap Co.,대리점,영업사원,전월,금월,TEAM,총 판매수량
KI1316,경기수원대리점,이기정,1720000,2952000,1,123
KI1451,충청홍성대리점,정미진,4080000,2706000,2,220
KI1534,경기화성대리점,경인선,600000,2214000,1,320
KI1636,강원속초대리점,이동권,3720000,2870000,3,110
KI1735,경기안양대리점,강준석,4800000,2296000,1,134
KI1875,제주제주시대리점,민경수,3420000,2346000,4,210
KI1917,경기광주대리점,김진혜,1292000,1518000,1,110
KI2032,경기평택대리점,고유정,2736000,2139000,2,90
KI2153,경기의정부대리점,김은향,1368000,2484000,1,183
KI2214,경기성남대리점,이준수,1976000,1518000,3,73
KI2313,제주서귀포시대리점,온지수,152000,945000,1,52
KI2433,경기계양대리점,이희영,1833000,1404000,1,110
KI2512,경기평촌대리점,강백호,4320000,2312000,3,240
KI2671,제주서귀포시대리점,주은명,4040000,4760000,4,50
KI2776,경기남양주대리점,김수진,8160000,4352000,2,354
KI2870,경기구리시대리점,박진형,6000000,3400000,2,143
KI2910,강원춘천대리점,김은향,4800000,4896000,1,176
KI3030,강원영동대리점,전수창,4560000,3128000,2,98
KI3131,경기하남대리점,김민정,2750000,7268000,3,293
KI3252,강원포천대리점,서가은,2420000,4740000,4,240