# Python Database

> Summary

- toc: true 
- badges: true
- comments: true
- author: Chanseok Kang
- categories: [python, fastcampus]
- image:

In [1]:
import sqlite3
import datetime
from pprint import pprint

In [2]:
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.35.4

In [3]:
now = datetime.datetime.now()
now

datetime.datetime(2021, 5, 18, 16, 12, 10, 594023)

In [4]:
nowDatetime = now.strftime('%Y-%m-%d %H:%M:%S')
nowDatetime

'2021-05-18 16:12:10'

## DB create & Auto commit

In [5]:
conn = sqlite3.connect('./resource/database.db', isolation_level=None)

## Cursor

In [6]:
c = conn.cursor()
print('Cursor Type: ', type(c))

Cursor Type:  <class 'sqlite3.Cursor'>

## Table Generation
- Data type
    - Text
    - Numeric (Integer)
    - Real
    - Blob

In [7]:
c.execute("CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, username text, email text, \
          phone text, website text, regdate text)")

## Data Insert

In [8]:
c.execute("INSERT INTO users VALUES(1, 'Kim', 'kim@naver.com', '010-0000-1010', \
           'kim.com', ?)", (nowDatetime, ))

In [9]:
c.execute('INSERT INTO users(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)', \
          (2, 'Park', 'Park@daum.net', '010-1111-0101', 'Park.com', nowDatetime))

## Many Insert
- Tuple
- List

In [10]:
userList = (
    (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', nowDatetime),
    (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', nowDatetime),
    (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', nowDatetime)
)

In [11]:
c.executemany('INSERT INTO users(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)',\
               userList)

## Data delete

In [12]:
print('users db deleted : ', conn.execute('DELETE FROM users').rowcount)

users db deleted :  5

## commit
- Auto commit : `isolation_level = None`
- Manual commit :
```python
# commit
conn.commit()
# rollback
conn.rollback()
```

In [13]:
conn.close()

## Table read

In [14]:
conn = sqlite3.connect('./resource/database.db')
c = conn.cursor()
c.execute("CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, username text, email text, \
          phone text, website text, regdate text)")
c.execute("INSERT INTO users VALUES(1, 'Kim', 'kim@naver.com', '010-0000-1010', \
           'kim.com', ?)", (nowDatetime, ))
c.execute('INSERT INTO users(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)', \
          (2, 'Park', 'Park@daum.net', '010-1111-0101', 'Park.com', nowDatetime))
c.executemany('INSERT INTO users(id, username, email, phone, website, regdate) VALUES (?,?,?,?,?,?)',\
               userList)

### First row select

In [15]:
c.execute('SELECT * FROM users')
print('One -> \n', c.fetchone())

One ->
 (1, 'Kim', 'kim@naver.com', '010-0000-1010', 'kim.com', '2021-05-18 16:12:10')

### Specific row select

In [16]:
print('Three -> \n', c.fetchmany(size=3))

Three ->
 [(2, 'Park', 'Park@daum.net', '010-1111-0101', 'Park.com', '2021-05-18 16:12:10'), (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10'), (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')]

### All row select

In [17]:
print('All -> \n', c.fetchall())

All ->
 [(5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')]

In [18]:
print('All -> \n', c.fetchall())

All ->
 []

## Retrieve

In [19]:
c.execute('SELECT * FROM users')
rows = c.fetchall()

for row in rows:
    print('retrieve1 > ', row)

retrieve1 >  (1, 'Kim', 'kim@naver.com', '010-0000-1010', 'kim.com', '2021-05-18 16:12:10')
retrieve1 >  (2, 'Park', 'Park@daum.net', '010-1111-0101', 'Park.com', '2021-05-18 16:12:10')
retrieve1 >  (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10')
retrieve1 >  (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')
retrieve1 >  (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')

In [20]:
c.execute('SELECT * FROM users')
for row in c.fetchall():
    print('retrieve2 > ', row)

retrieve2 >  (1, 'Kim', 'kim@naver.com', '010-0000-1010', 'kim.com', '2021-05-18 16:12:10')
retrieve2 >  (2, 'Park', 'Park@daum.net', '010-1111-0101', 'Park.com', '2021-05-18 16:12:10')
retrieve2 >  (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10')
retrieve2 >  (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')
retrieve2 >  (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')

In [21]:
c.execute('SELECT * FROM users')
for row in c.execute('SELECT * FROM users ORDER BY id desc'):
    print('retrieve3 > ', row)

retrieve3 >  (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')
retrieve3 >  (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')
retrieve3 >  (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10')
retrieve3 >  (2, 'Park', 'Park@daum.net', '010-1111-0101', 'Park.com', '2021-05-18 16:12:10')
retrieve3 >  (1, 'Kim', 'kim@naver.com', '010-0000-1010', 'kim.com', '2021-05-18 16:12:10')

## Where retrieve1

In [22]:
param1 = (3, )
c.execute('SELECT * FROM users WHERE id=?', param1)
print('param1 > ', c.fetchone())
print('param1 > ', c.fetchall())

param1 >  (3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10')
param1 >  []

## Where retrieve2

In [23]:
param2 = 4
c.execute('SELECT * FROM users WHERE id="%s"' % param2)
print('param2 > ', c.fetchone())
print('param2 > ', c.fetchall())

param2 >  (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')
param2 >  []

## Where retrieve3

In [24]:
c.execute('SELECT * FROM users WHERE id=:Id', {"Id": 5})
print('retrieve3 > ', c.fetchone())
print('retrieve3 > ', c.fetchall())

retrieve3 >  (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')
retrieve3 >  []

## Where retrieve4

In [25]:
param4 = (3, 5)
c.execute('SELECT * FROM users WHERE id IN(?,?)', param4)
print('param4 > ', c.fetchall())

param4 >  [(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10'), (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')]

## Where retrieve5

In [26]:
c.execute('SELECT * FROM users WHERE id IN("%d","%d")' % (3, 4))
print('retrieve5 > ', c.fetchall())

retrieve5 >  [(3, 'Lee', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10'), (4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')]

## Where retrieve6

In [27]:
c.execute('SELECT * FROM users WHERE id=:id1 OR id=:id2', {'id1': 2, 'id2': 5})
print('retrieve 6 > ', c.fetchall())

retrieve 6 >  [(2, 'Park', 'Park@daum.net', '010-1111-0101', 'Park.com', '2021-05-18 16:12:10'), (5, 'Yoo', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')]

## Dump

In [28]:
with conn:
    with open('./resource/dump.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
        print('Dump Print Complete')

Dump Print Complete

In [55]:
!cat resource/dump.sql

BEGIN TRANSACTION;
CREATE TABLE users(id INTEGER PRIMARY KEY, username text, email text,           phone text, website text, regdate text);
INSERT INTO "users" VALUES(1,'Kim','kim@naver.com','010-0000-1010','kim.com','2021-05-18 09:44:46');
INSERT INTO "users" VALUES(2,'Park','Park@daum.net','010-1111-0101','Park.com','2021-05-18 09:44:46');
INSERT INTO "users" VALUES(3,'Lee','Lee@naver.com','010-2222-2222','Lee.com','2021-05-18 09:44:46');
INSERT INTO "users" VALUES(4,'Cho','Cho@daum.net','010-3333-3333','Cho.com','2021-05-18 09:44:46');
INSERT INTO "users" VALUES(5,'Yoo','Yoo@google.com','010-4444-4444','Yoo.net','2021-05-18 09:44:46');
COMMIT;

## Data modification 1

In [32]:
c.execute('UPDATE users SET username = ? WHERE id = ?', ('niceman', 2))
conn.commit()

## Data modification 2

In [33]:
c.execute('UPDATE users SET username = :name WHERE id = :id', {"name": 'goodman', "id": 5})
conn.commit()

## Data modification 3

In [34]:
c.execute('UPDATE users SET username = "%s" WHERE id = "%d"' % ('badboy', 3))
conn.commit()

In [35]:
for user in c.execute('SELECT * FROM users'):
    print(user)

(1, 'Kim', 'kim@naver.com', '010-0000-1010', 'kim.com', '2021-05-18 16:12:10')
(2, 'niceman', 'Park@daum.net', '010-1111-0101', 'Park.com', '2021-05-18 16:12:10')
(3, 'badboy', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10')
(4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')
(5, 'goodman', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')

## Data Delete 1

In [36]:
c.execute('DELETE FROM users WHERE id = ?', (2, ))
conn.commit()

In [37]:
for user in c.execute('SELECT * FROM users'):
    print(user)

(1, 'Kim', 'kim@naver.com', '010-0000-1010', 'kim.com', '2021-05-18 16:12:10')
(3, 'badboy', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10')
(4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')
(5, 'goodman', 'Yoo@google.com', '010-4444-4444', 'Yoo.net', '2021-05-18 16:12:10')

## Data Delete 2

In [38]:
c.execute('DELETE FROM users WHERE id = :id', {'id': 5})
conn.commit()

In [39]:
for user in c.execute('SELECT * FROM users'):
    print(user)

(1, 'Kim', 'kim@naver.com', '010-0000-1010', 'kim.com', '2021-05-18 16:12:10')
(3, 'badboy', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10')
(4, 'Cho', 'Cho@daum.net', '010-3333-3333', 'Cho.com', '2021-05-18 16:12:10')

## Data Delete 3

In [40]:
c.execute('DELETE FROM users WHERE id = "%s"' % (4, ))
conn.commit()

In [41]:
for user in c.execute('SELECT * FROM users'):
    print(user)

(1, 'Kim', 'kim@naver.com', '010-0000-1010', 'kim.com', '2021-05-18 16:12:10')
(3, 'badboy', 'Lee@naver.com', '010-2222-2222', 'Lee.com', '2021-05-18 16:12:10')

## Overall table delete

In [42]:
print("users db deleted : ", conn.execute("DELETE FROM users").rowcount, " rows")

users db deleted :  2  rows

In [43]:
conn.commit()

In [44]:
conn.close()